.panel {
    background: lightgray;
    padding: .3em;
    left: 2;
    top: 10;
    z-index: 16000;
    -webkit-box-shadow:
        inset 0 0 25px #e8e8e8,
        0 1px 0 #c3c3c3,
        0 2px 0 #c9c9c9,
        0 2px 3px #333;
    display: table;
}

.strokebox {
    font-family: SimHei;
    font-weight:bold;
    font-size: 18pt;
    background:	azure;
    color: #aaa;
    height: 30px;
    margin-bottom: 1px;
    padding-top: 2px;
}

.selectbox {
    font-family: SimHei;
    font-weight:bold;
    font-size: 18pt;
    background:	azure;
    color: #aaa;
    padding-top: 5px;
    height: 250px;
    width: 500px;
}

.buttons {
    background: #000000;
    width: 500px;
}

.key{
    display: block;
    float: left;
    color: #aaa;
    font: bold 12pt arial;
    text-decoration: none;
    text-align: center;
    width: 90px;
    height: 60px;
    margin: 5px;
    background: #eff0f2;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
    -webkit-box-shadow: 
        inset 0 0 25px #e8e8e8,
        0 1px 0 #c3c3c3,
        0 2px 0 #c9c9c9,
        0 2px 3px #333;
    -moz-box-shadow: 
        inset 0 0 25px #e8e8e8,
        0 1px 0 #c3c3c3,
        0 2px 0 #c9c9c9,
        0 2px 3px #333;
    box-shadow: 
        inset 0 0 25px #e8e8e8,
        0 1px 0 #c3c3c3,
        0 2px 0 #c9c9c9,
        0 2px 3px #333;
    text-shadow: 0px 1px 0px #f5f5f5;
}

.key hr {
    height:0px;
    border:none;
    border-top:1px ridge lightgrey;
    border-bottom:1px ridge silver;
}
